.app-container {
  max-width: 1200px; /* increase width so 3 fit in a row */
  margin: 40px auto;
  padding: 20px;
  background: #fefefe;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  font-family: "Segoe UI", sans-serif;
  text-align: center;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  width: 210px;
  padding: 5px;
  margin: 5px;
  flex-direction: row;
  justify-content: space-between;
}

.product-card img {
  width: 200px;
  height: 200px;
}

/* button:disabled {
  background: #aaa;
  cursor: not-allowed;
} */

.pagination-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 8px;
}

.pagination-container button {
  padding: 8px 14px;
  border: 1px solid #ccc;
  background: #f8f8f8;
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.2s ease;
  font-size: 14px;
  color: #007bff;
}

.pagination-container button:hover:not(:disabled) {
  background: #007bff;
  color: #fff;
  border-color: #007bff;
}

.pagination-container button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-container button.active {
  background: #007bff;
  color: #fff;
  border-color: #007bff;
  font-weight: bold;
}
